body {
  .book-display-area {
    .book-text {
      max-width: 400px;
      h1 {
        color: $black;
      }
    }
  }
  .site-main {
    padding-top: 20px;
  }
  #primary {
    .posts-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: 768px) {
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
      }
      .reviews-card {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
        .reviews-card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          flex-wrap: wrap;
          .wrap-rating {
            display: flex;
            justify-content: flex-end;
            width: 60%;
            .rating-star {
              max-width: 25px;
            }
          }
          .cat-links {
           a {
             margin-bottom: 0;
           }
          }

        }
      }
      .post-post-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 50%;
          max-width: 50%;
        }
      }
      .post-link {
        color: $blue;
        font-size: 18px;
        font-weight: 600;
        &:hover {
          color: $link-blue;
          text-shadow: 0.5px 0.5px $link-blue;
        }
      }

      .btn-features {
        width: 100%;
        text-align: center;
      }

      .features-list {
        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: all 0.5s;
        padding-left: 15px;
        overflow: hidden;
        margin-top: 10px;
        &.features-list-open {
          opacity: 1;
          height: auto;
          visibility: visible;
        }
      }
    }

  }

}